Repository magicball-network/discourse-darkvisitors: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, yaml-syntax

rubocop:
  run: bundle exec rubocop --parallel --force-exclusion {staged_files}

syntax_tree:
  run: bundle exec stree check {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

Add client analytics
  assets/javascripts/discourse/initializers/client-analytics.js
  config/settings.yml
  lefthook.yml
  plugin.rb
Due: rubocop, syntax_tree, yaml-syntax

Updated readme
  README.md
Due: none

Updated localization
  config/locales/client.en.yml
Due: yaml-syntax

Implemented server analytics
  config/settings.yml
  lib/server_analytics.rb
  plugin.rb
Due: rubocop, syntax_tree, yaml-syntax

Final tuning for 1.0
  config/locales/server.en.yml
  config/settings.yml
  lib/server_analytics.rb
  plugin.rb
Due: rubocop, syntax_tree, yaml-syntax

Updated some documentation
  config/locales/server.en.yml
Due: yaml-syntax

Format ipv6 remote addr
  lib/server_analytics.rb
Due: rubocop, syntax_tree

More client headers
  lib/server_analytics.rb
Due: rubocop, syntax_tree

Added option to ignore some user agents
  config/locales/server.en.yml
  config/settings.yml
  lib/server_analytics.rb
  plugin.rb
Due: rubocop, syntax_tree, yaml-syntax

Added test cases for server analytics
  lib/server_analytics.rb
  spec/lib/server_analytics_spec.rb
Due: rubocop, syntax_tree

Added plugin workflow actions
  .github/workflows/discourse-plugin.yml
Due: yaml-syntax

workflow configs
  .rubocop.yml
  Gemfile
  Gemfile.lock
Due: yaml-syntax

Added meta topic ID
  plugin.rb
Due: rubocop, syntax_tree

Updated thread link
  README.md
Due: none

Added additional agent types for the robots.txt generation
  Gemfile.lock
  assets/javascripts/discourse/initializers/client-analytics.js
  config/settings.yml
  plugin.rb
Due: rubocop, syntax_tree, yaml-syntax

Added testing against discourse versions: latest and ESR
  .github/workflows/esr.yml
  .github/workflows/latest.yml
  .github/workflows/upstream-change.yml
  Gemfile.lock
  README.md
Due: yaml-syntax

Typo fix
  README.md
Due: none

Dark Visitors rebranded to Known Agents
  README.md
  config/locales/server.en.yml
  config/settings.yml
  lib/robots_txt.rb
  plugin.rb
Due: rubocop, syntax_tree, yaml-syntax

Updated agent type list
  Gemfile.lock
  config/settings.yml
  db/migrate/20260204194031_headless_agent_to_automated_agent.rb
Due: rubocop, syntax_tree, yaml-syntax

ignore rspec command
  .gitignore
Due: none

Update upstream-change.yml
  .github/workflows/upstream-change.yml
Due: yaml-syntax

Dependency updates
  Gemfile
  Gemfile-dev
  Gemfile-dev.lock
  Gemfile.lock
  lib/server_analytics.rb
Due: rubocop, syntax_tree

Updated cache github action
  .github/workflows/upstream-change.yml
Due: yaml-syntax

Updated agent list
  config/settings.yml
Due: yaml-syntax

Allow multiple disallow paths for robots.txt
  config/settings.yml
  lib/robots_txt.rb
  spec/lib/robots_txt_spec.rb
Due: rubocop, syntax_tree, yaml-syntax

Updated plugin version
  plugin.rb
Due: rubocop, syntax_tree

Path conditions:
  rubocop: any of: *.rb
  syntax_tree: any of: *.rb
  yaml-syntax: any of: *.yml
